<%- include('partials/head') %>

<body style="background-color:#f0f0f0">
  <%- include('partials/navbar') %>

  <div class="container">
    <span class="pokemonFlex">
      <!-- <h1><%= species %></h1> -->
      <p class="pokemonName"><%= species %></p>


      <!-- logic for the image insert -->
      <% if (id<10) { %>
      <p class="pokemonNumber">00<%= id %></p>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/00<%= id %>.png" alt="">
      <% } else if (id>9 && id <100) { %>
      <p class="pokemonNumber">0<%= id %></p>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/0<%= id %>.png" alt="">
      <% } else if (id>99) { %>
      <p class="pokemonNumber"><%= id %></p>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/<%= id %>.png" alt="">
      <% } %>

      <span class="pokemonType">
        <p class="pill background-color-<%= type1.toLowerCase() %>"><%= type1 %></p>
        <% if (type2) { %>
        <p class="pill background-color-<%= type2.toLowerCase() %>""><%= type2 %></p>
        <% } %>
      </span>

      <span class= " pokeStats">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-around">

          <span class="col">
            <p class="stats">HP: <%= hp %></p>
            <p class="stats">ATK: <%= attack %></p>
            <p class="stats">DEF: <%= defense %></p>
            <p class="stats">SP ATK: <%= spattack %></p>
            <p class="stats">SP DEF: <%= spdefense %></p>
            <p class="stats">SPEED: <%= speed %></p>
            <p class="stats">TOTAL: <%= total %></p>
          </span>

          <span class="col">
            <p class="stats">Weight: <%= weight %></p>
            <p class="stats">Height: <%= height %></p>
          </span>

          <span class="col">
            <p class="stats">Male: <%=  percentmale *100%>%</p>
            <p class="stats">Female: <%= percentfemale *100%>%</p>
          </span>

          <span class="col">
            <% if (preevolution) { %>
            <p class="stats">Pre-Evolution: <%= preevolution %></p>
            <% } else { %>
            <p class="stats">Pre-Evolution: Baby</p>
            <% } %>

            <p class="stats">Egg Group 1: <%= egggroup1 %></p>
            <% if (egggroup2) { %>
            <p class="stats">Egg Group 2: <%= egggroup2 %></p>
            <% } %>

          </span>
        </div>

      </span>
    </span>
  </div>


</body>

</html>